@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');

.modal-text h1,.form-text h1,.form-text p, .form-text label,.form-text input,.form-text button,.form-text textarea{
  
  font-family: 'Poppins', sans-serif;

}

.bg-particle-image{
  background-size: 900px ;
  background-image: url('../../assets/bg.png');
  background-position: top center;
  background-repeat: repeat;
}


.corner-button-generator {
  position: absolute;
  width: 15px;
  height: 15px;
  border: 2px solid rgb(189, 35, 35); /* Adjust the border properties as needed */
}

.corner-button-generator:nth-child(1) {
  top: -7px;
  left: -7px;
  border-bottom-width: 0;
  border-right-width: 0;
}


.corner-button-generator:nth-child(2) {
  top: -7px;
  right: -7px;
  border-bottom-width: 0;
  border-left-width: 0;
}

.glassy-background {
  background: #ffffff14; /* Adjust the alpha value (0.5) for transparency */
  backdrop-filter: blur(100px); /* Apply a blur effect to the background */
  padding: 10px; /* Adjust padding as needed */
  border: 1px solid #ffffff4e;
}


.corner-button-generator:nth-child(3) {
  bottom: -7px;
  left: -7px;
  border-top-width: 0;
  border-right-width: 0;
}

.corner-button-generator:nth-child(4) {
  bottom: -7px;
  right: -7px;
  border-top-width: 0;
  border-left-width: 0;
}



.corner-button-generate {
  position: absolute;
  width: 5px;
  height: 5px;
  border: 1px solid rgb(166, 8, 8); /* Adjust the border properties as needed */
}



.corner-button-generate:nth-child(1) {
  top: -2.5px;
  left: -2.5px;
  border-bottom-width: 0;
  border-right-width: 0;
}


.corner-button-generate:nth-child(2) {
  top: -2.5px;
  right: -2.5px;
  border-bottom-width: 0;
  border-left-width: 0;
}


.corner-button-generate:nth-child(3) {
  bottom: -2.5px;
  left: -2.5px;
  border-top-width: 0;
  border-right-width: 0;
}

.corner-button-generate:nth-child(4) {
  bottom: -2.5px;
  right: -2.5px;
  border-top-width: 0;
  border-left-width: 0;
}

.corner-border {
  position: absolute;
  width: 20px; /* Adjust the length of the corner borders as needed */
  height: 20px; /* Adjust the length of the corner borders as needed */
  border: 2px solid #bd2020; /* Adjust the border properties as needed */
}



.corner-border:nth-child(1) {
  top: -2px;
  left: -2px;
  border-bottom-width: 0;
  border-right-width: 0;
}

.corner-border:nth-child(2) {
  top: -2px;
  right: -2px;
  border-bottom-width: 0;
  border-left-width: 0;
}

.corner-border:nth-child(3) {
  bottom: -2px;
  left: -2px;
  border-top-width: 0;
  border-right-width: 0;
}

.corner-border:nth-child(4) {
  bottom: -2px;
  right: -2px;
  border-top-width: 0;
  border-left-width: 0;
}
.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in-out both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  opacity: 1;
  animation: fadeOut 2s ease-in-out both;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



.corner-border-generated{
  position: absolute;
  width: 30px; /* Adjust the length of the corner borders as needed */
  height: 30px; /* Adjust the length of the corner borders as needed */
  border: 2px solid #bd2020; /* Adjust the border properties as needed */
}


.corner-border-generated:nth-child(1) {
  top: -2px;
  left: -2px;
  border-bottom-width: 0;
  border-right-width: 0;
}

.corner-border-generated:nth-child(2) {
  top: -2px;
  right: -2px;
  border-bottom-width: 0;
  border-left-width: 0;
}

.corner-border-generated:nth-child(3) {
  bottom: -2px;
  left: -2px;
  border-top-width: 0;
  border-right-width: 0;
}

.corner-border-generated:nth-child(4) {
  bottom: -2px;
  right: -2px;
  border-top-width: 0;
  border-left-width: 0;
}

/* Add this to your styles.css or an appropriate CSS file */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Adjust the opacity (0.7) as needed */
  z-index: 49; /* Ensure this is lower than the modal's z-index */
  display: none; /* Initially hidden */
}


.qr-gen-form{
/* width: 961px; */
/* flex-shrink: 0; */
border: 2.183px solid rgba(255, 255, 255, 0);
background: rgba(0, 0, 0, 0.34);
backdrop-filter: blur(5px);
}




.qr-border{
  border: 0.646px solid rgba(0, 0, 0, 0.34);
background: lightgray 50% / cover no-repeat;
}


/* @media screen and (max-width:768px) {
  .qr-gen-form{
    width: 90%;
    flex-shrink: 0;
    border: 2.183px solid rgba(255, 255, 255, 0.40);
    background: rgba(0, 0, 0, 0.34);
    backdrop-filter: blur(5px);
    }
    
     */
/* } */