@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F2F2; 
    padding: 0 136px  0 136px;
 
  }
  .extended-content {
    display: flex;
    flex-direction: row;
  }
  .logo{
    background:url("./greypaper.jpeg");
    background-size: cover;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
  }
  
  .logo.extended{
    width: 290px;
    height: 80px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
  }
  .logo-img {
    width: 45px; 
    height: 55px;
  }
  .logo-img1 {
    width: 25px; 
    height: 35px;
  }
  .logo-img.extended{
    margin-top: -15px;
    width: 200px; 
    height: 60px;
    background: transparent;
  
  }
  .menu-icon {
    background:url("./greypaper.jpeg");
    background-size: cover;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  .menu-icon img {
    width: 29px; 
    height: 36px;
    cursor: pointer;
  }
  @media screen and (max-width: 480px) {
    .navbar {
      width: 100%;
      padding: 0 26px  0 26px;
    }
    .logo{
      left: 26px;
      height: 70px;
      width: 70px;
    }
    .logo.extended{
      width: 150px;
      height: 70px;
      border-radius: 45px;
    }
    .logo-img {
      width: 30px; 
      height: 45px;
    }
    .logo-img.extended{
      width: 100px; 
      height: 45px;
    }
    .menu-icon{
      height: 70px;
      width: 70px;
    } 
  }
  
  @media screen and (max-width: 768px) {
    .navbar {
      width: 100%;
      padding: 0px 30px 0px 30px;
    }
    .logo{
      left: 26px;
      height: 70px;
      width: 70px;
    }
    .logo.extended{
      width: 150px;
      height: 70px;
      border-radius: 45px;
    }
    .logo-img {
      width: 30px; 
      height: 45px;
    }
    .logo-img.extended{
      width: 100px; 
      height: 45px;
    }
    .menu-icon{
      height: 70px;
      width: 70px;
    } 
  }
  
  .container {
  position: absolute;
  top:0%;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000%;
  }
  
  .circle1 {
  position: absolute;
  width: 0px;
  height: 0px;
  background-image:url("./greypaper.jpeg");
  background-size: contain;
  background-position: center;
  border-radius: 100%;
  animation-duration: 0.75s;
  animation-delay: 2.5s;
  rotate: 360deg;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  }
  .grow {
  z-index: 1500;
  border-radius: 100%;
  animation-name: grow;
  }
  
  @keyframes grow {
  0% {
    width: 400vw;
    height: 800vh;
    border-radius: 100%;
    z-index: 10000000;
  }
  100% {
    width: 0px;
    height: 0px;
  }
  }
  @media(max-width:1200px){
  .grow {
  border-radius: 100%;
  z-index: 10000000;
  animation-name: grow;
  }
  @keyframes grow {
  0% {
    width: 500vw;
    height: 700vh;
    border-radius: 80%;
    z-index: 1000000000;
  }
  100% {
    width: 0px;
    height: 0px;
  }
  }
  }
  @media(max-width:800px){
  .grow {
  border-radius: 100%;
  z-index: 10000000;
  animation-name: grow;
  }
  @keyframes grow {
  0% {
    width: 500vw;
    height: 500vh;
    border-radius: 80%;
    z-index: 1000000000;
  }
  100% {
    width: 0px;
    height: 0px;
  }
  }
  
  }
  
  @media(max-width:500px){
  .grow {
  border-radius: 100%;
  z-index: 10000000;
  animation-name: grow;
  }
  @keyframes grow {
  0% {
    width: 400vw;
    height: 300vh;
    border-radius: 80%;
    z-index: 1000000000;
  }
  100% {
    width: 0px;
    height: 0px;
  }
  }
  }
  

@media (max-width: 700px) {
    #fullscreen-menu {
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
}

#close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: gray;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    z-index: 100001;

}


#fullscreen-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: aqua;
    z-index: 999;
    height: 100vh;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;

}

.vertical-div {
    background-color: aqua;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 400px;
    transition: transform 0.3s  infinite;
}
.navbar-open .background-component {
    max-width: 900px;
}
.red {
    background-color: #DB1F1E;
}



.yellow {
    background-color: #F1CFAE;
}



.experience2 {
    height: 100%;
    width: 100%;
    max-width: 750px;
    position: fixed;
    top: 0;
    left: 0;
    /* outline:none; */
}
  
.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 102px;
    z-index: 10;
}

.navbar>img {
    width: 150px;
    z-index: 100000;
    padding-left: 24px;
}

.navbar>button {
    background:url("./greypaper.jpeg");
    border: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: var(--fontsize-s);
    padding: 30px;
    cursor: pointer;
    /* padding-right: 80px; */
}
.menuButton{
    background:url("./greypaper.jpeg");
    border: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: var(--fontsize-s);
    padding: 26px;
    cursor: pointer;
    border-radius: 100%;
}
